<a href="https://colab.research.google.com/github/mDianga/Data-analysis-_2/blob/master/Moringa_Data_Science_Prep_W2_Independent_Project_2020_20_Dianga_Felix_SQL_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%load_ext sql
%sql sqlite://

'Connected: @None'

In [ ]:
import csv
import pandas as pd

In [ ]:
with open('GrandElectors.csv','r') as f:
   GrandElectors = pd.read_csv(f, index_col=0, encoding='utf-8')

In [ ]:
%sql DROP TABLE if EXISTS GrandElectors;
%sql PERSIST GrandElectors;

 * sqlite://
Done.
 * sqlite://

'Persisted grandelectors'

In [ ]:
%%sql
select * from GrandElectors limit 5

 * sqlite://
Done.

[('Alabama', 9),
 ('Alaska', 3),
 ('Arizona', 11),
 ('Arkansas', 6),
 ('California', 55)]

In [ ]:
with open('Population_states.csv','r') as f:
   Population_states = pd.read_csv(f, index_col=0, encoding='utf-8')

In [ ]:
%sql DROP TABLE if EXISTS Population_states;
%sql PERSIST Population_states;

 * sqlite://
Done.
 * sqlite://

'Persisted population_states'

In [ ]:
%%sql
select * from Population_states limit 5

 * sqlite://
Done.

[('CALIFORNIA', 39144818),
 ('TEXAS', 27469114),
 ('FLORIDA', 20271272),
 ('NEW YORK', 19795791),
 ('ILLINOIS', 12859995)]

In [ ]:
# Question 1
%%sql
SELECT UPPER(g.State) AS State, g.GrandElectors, p.State, p.Population
FROM GrandElectors AS g
JOIN Population_states AS p
ON UPPER(g.State) = p.State;

 * sqlite://
Done.

[('ALABAMA', 9, 'ALABAMA', 4858979),
 ('ALASKA', 3, 'ALASKA', 738432),
 ('ARIZONA', 11, 'ARIZONA', 6828065),
 ('ARKANSAS', 6, 'ARKANSAS', 2978204),
 ('CALIFORNIA', 55, 'CALIFORNIA', 39144818),
 ('COLORADO', 9, 'COLORADO', 5456574),
 ('CONNECTICUT', 7, 'CONNECTICUT', 3590886),
 ('DISTRICT OF COLUMBIA', 3, 'DISTRICT OF COLUMBIA', 672228),
 ('DELAWARE', 3, 'DELAWARE', 945934),
 ('FLORIDA', 29, 'FLORIDA', 20271272),
 ('GEORGIA', 16, 'GEORGIA', 10214860),
 ('HAWAII', 4, 'HAWAII', 1431603),
 ('IDAHO', 4, 'IDAHO', 1654930),
 ('ILLINOIS', 20, 'ILLINOIS', 12859995),
 ('INDIANA', 11, 'INDIANA', 6619680),
 ('IOWA', 6, 'IOWA', 3123899),
 ('KANSAS', 6, 'KANSAS', 2911641),
 ('KENTUCKY', 8, 'KENTUCKY', 4425092),
 ('LOUISIANA', 8, 'LOUISIANA', 4670724),
 ('MAINE', 4, 'MAINE', 1329328),
 ('MARYLAND', 10, 'MARYLAND', 6006401),
 ('MASSACHUSETTS', 11, 'MASSACHUSETTS', 6794422),
 ('MICHIGAN', 16, 'MICHIGAN', 9922576),
 ('MINNESOTA', 10, 'MINNESOTA', 5489594),
 ('MISSISSIPPI', 6, 'MISSISSIPPI', 2992333),
 ('MISSOURI', 10, 'MISSOURI', 6083672),
 ('MONTANA', 3, 'MONTANA', 1032949),
 ('NEBRASKA', 5, 'NEBRASKA', 1896190),
 ('NEVADA', 6, 'NEVADA', 2890845),
 ('NEW HAMPSHIRE', 4, 'NEW HAMPSHIRE', 1330608),
 ('NEW JERSEY', 14, 'NEW JERSEY', 8958013),
 ('NEW MEXICO', 5, 'NEW MEXICO', 2085109),
 ('NEW YORK', 29, 'NEW YORK', 19795791),
 ('NORTH CAROLINA', 15, 'NORTH CAROLINA', 10042802),
 ('NORTH DAKOTA', 3, 'NORTH DAKOTA', 756927),
 ('OHIO', 18, 'OHIO', 11613423),
 ('OKLAHOMA', 7, 'OKLAHOMA', 3911338),
 ('OREGON', 7, 'OREGON', 4028977),
 ('PENNSYLVANIA', 20, 'PENNSYLVANIA', 12802503),
 ('RHODE ISLAND', 4, 'RHODE ISLAND', 1056298),
 ('SOUTH CAROLINA', 9, 'SOUTH CAROLINA', 4896146),
 ('SOUTH DAKOTA', 3, 'SOUTH DAKOTA', 858469),
 ('TENNESSEE', 11, 'TENNESSEE', 6600299),
 ('TEXAS', 38, 'TEXAS', 27469114),
 ('UTAH', 6, 'UTAH', 2995919),
 ('VERMONT', 3, 'VERMONT', 626042),
 ('VIRGINIA', 13, 'VIRGINIA', 8382993),
 ('WASHINGTON', 12, 'WASHINGTON', 7170351),
 ('WEST VIRGINIA', 5, 'WEST VIRGINIA', 1844128),
 ('WISCONSIN', 10, 'WISCONSIN', 5771337),
 ('WYOMING', 3, 'WYOMING', 586107)]

In [ ]:
# Question 2
%%sql
UPDATE GrandElectors
SET State = "DC"
WHERE State = "District of Columbia";

 * sqlite://
1 rows affected.

[]

In [ ]:
# Question 3
%%sql
ALTER TABLE GrandElectors
ADD COLUMN Ratio DOUBLE(10, 9) NULL;

 * sqlite://
Done.

[]

In [ ]:
# Question 3 cont'd
%%sql
UPDATE GrandElectors
SET Ratio = (
SELECT  ROUND(g.GrandElectors/p.Population, 10)
FROM GrandElectors g
INNER JOIN Population_states p
ON UPPER(g.State) = p.State
);

 * sqlite://
51 rows affected.

[]

In [ ]:
# Question 4
%%sql
SELECT * FROM GrandElectors
ORDER BY Ratio DESC;

 * sqlite://
Done.

[('Alabama', 9, 0.0),
 ('Alaska', 3, 0.0),
 ('Arizona', 11, 0.0),
 ('Arkansas', 6, 0.0),
 ('California', 55, 0.0),
 ('Colorado', 9, 0.0),
 ('Connecticut', 7, 0.0),
 ('DC', 3, 0.0),
 ('Delaware', 3, 0.0),
 ('Florida', 29, 0.0),
 ('Georgia', 16, 0.0),
 ('Hawaii', 4, 0.0),
 ('Idaho', 4, 0.0),
 ('Illinois', 20, 0.0),
 ('Indiana', 11, 0.0),
 ('Iowa', 6, 0.0),
 ('Kansas', 6, 0.0),
 ('Kentucky', 8, 0.0),
 ('Louisiana', 8, 0.0),
 ('Maine', 4, 0.0),
 ('Maryland', 10, 0.0),
 ('Massachusetts', 11, 0.0),
 ('Michigan', 16, 0.0),
 ('Minnesota', 10, 0.0),
 ('Mississippi', 6, 0.0),
 ('Missouri', 10, 0.0),
 ('Montana', 3, 0.0),
 ('Nebraska', 5, 0.0),
 ('Nevada', 6, 0.0),
 ('New Hampshire', 4, 0.0),
 ('New Jersey', 14, 0.0),
 ('New Mexico', 5, 0.0),
 ('New York', 29, 0.0),
 ('North Carolina', 15, 0.0),
 ('North Dakota', 3, 0.0),
 ('Ohio', 18, 0.0),
 ('Oklahoma', 7, 0.0),
 ('Oregon', 7, 0.0),
 ('Pennsylvania', 20, 0.0),
 ('Rhode Island', 4, 0.0),
 ('South Carolina', 9, 0.0),
 ('South Dakota', 3, 0.0),
 ('Tennessee', 11, 0.0),
 ('Texas', 38, 0.0),
 ('Utah', 6, 0.0),
 ('Vermont', 3, 0.0),
 ('Virginia', 13, 0.0),
 ('Washington', 12, 0.0),
 ('West Virginia', 5, 0.0),
 ('Wisconsin', 10, 0.0),
 ('Wyoming', 3, 0.0)]

In [ ]:
# Question 5
%%sql
SELECT SUM(g.GrandElectors) AS 'Running Total'
FROM (
	SELECT * FROM GrandElectors
  ORDER BY Ratio DESC
) AS g;

 * sqlite://
Done.

[(538,)]

In [ ]:
# Question 6
%%sql
SELECT 0.5*SUM(GrandElectors) AS 'Half Total GrandElectors'
FROM GrandElectors;

 * sqlite://
Done.

[(269.0,)]

In [ ]:
# Question 7
%%sql
SELECT State FROM GrandElectors
WHERE GrandElectors <=  (SELECT 0.5*SUM(GrandElectors) FROM GrandElectors);
SELECT State FROM GrandElectors
WHERE (SELECT SUM(g.GrandElectors) FROM (SELECT * FROM GrandElectors ORDER BY Ratio DESC) AS g) > (SELECT 0.5*SUM(GrandElectors)FROM GrandElectors);

 * sqlite://
Done.
Done.

[('Alabama',),
 ('Alaska',),
 ('Arizona',),
 ('Arkansas',),
 ('California',),
 ('Colorado',),
 ('Connecticut',),
 ('DC',),
 ('Delaware',),
 ('Florida',),
 ('Georgia',),
 ('Hawaii',),
 ('Idaho',),
 ('Illinois',),
 ('Indiana',),
 ('Iowa',),
 ('Kansas',),
 ('Kentucky',),
 ('Louisiana',),
 ('Maine',),
 ('Maryland',),
 ('Massachusetts',),
 ('Michigan',),
 ('Minnesota',),
 ('Mississippi',),
 ('Missouri',),
 ('Montana',),
 ('Nebraska',),
 ('Nevada',),
 ('New Hampshire',),
 ('New Jersey',),
 ('New Mexico',),
 ('New York',),
 ('North Carolina',),
 ('North Dakota',),
 ('Ohio',),
 ('Oklahoma',),
 ('Oregon',),
 ('Pennsylvania',),
 ('Rhode Island',),
 ('South Carolina',),
 ('South Dakota',),
 ('Tennessee',),
 ('Texas',),
 ('Utah',),
 ('Vermont',),
 ('Virginia',),
 ('Washington',),
 ('West Virginia',),
 ('Wisconsin',),
 ('Wyoming',)]